.button {
    height: 64px;
    border-radius: 16px;
    padding: 20px 44px;
    border-width: 0;
    background: var(--primary);
    color: var(--BG);
    cursor: pointer;
    font-weight: 510;
    font-size: 16px;
    line-height: 24px;
}

.button.white {
    background: var(--BG);
    color: var(--dark);
}