:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --primary: #041836;
  --primary-accent: #3F8CD6;
  --BG: #FFFFFF;
  --BG-accent: #FAFBFF;
  --dark: #041836;
  --medium: #656B75;
  --light: #D8DAE5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 90px;
  line-height: 90px;
  font-weight: 860;
  margin: 0;
}

h2 {
  font-weight: 860;
  font-size: 72px;
  line-height: 72px;
}