@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-Medium.eot');
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
      url('../static/fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-Medium.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-Medium.woff') format('woff'),
      url('../static/fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-Heavy.eot');
  src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
      url('../static/fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-Heavy.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-Heavy.woff') format('woff'),
      url('../static/fonts/SFProDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-UltralightItalic.eot');
  src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
      url('../static/fonts/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-UltralightItalic.woff') format('woff'),
      url('../static/fonts/SFProDisplay-UltralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-RegularItalic.eot');
  src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
      url('../static/fonts/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-RegularItalic.woff') format('woff'),
      url('../static/fonts/SFProDisplay-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-Thin.eot');
  src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
      url('../static/fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-Thin.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-Thin.woff') format('woff'),
      url('../static/fonts/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-Light.eot');
  src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
      url('../static/fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-Light.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-Light.woff') format('woff'),
      url('../static/fonts/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-BlackItalic.eot');
  src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
      url('../static/fonts/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-BlackItalic.woff') format('woff'),
      url('../static/fonts/SFProDisplay-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-Bold.eot');
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
      url('../static/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-Bold.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-Bold.woff') format('woff'),
      url('../static/fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-Black.eot');
  src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
      url('../static/fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-Black.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-Black.woff') format('woff'),
      url('../static/fonts/SFProDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-SemiboldItalic.eot');
  src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
      url('../static/fonts/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-SemiboldItalic.woff') format('woff'),
      url('../static/fonts/SFProDisplay-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-Ultralight.eot');
  src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
      url('../static/fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-Ultralight.woff') format('woff'),
      url('../static/fonts/SFProDisplay-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-LightItalic.eot');
  src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
      url('../static/fonts/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-LightItalic.woff') format('woff'),
      url('../static/fonts/SFProDisplay-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-ThinItalic.eot');
  src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
      url('../static/fonts/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-ThinItalic.woff') format('woff'),
      url('../static/fonts/SFProDisplay-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-MediumItalic.eot');
  src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
      url('../static/fonts/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-MediumItalic.woff') format('woff'),
      url('../static/fonts/SFProDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-Semibold.eot');
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
      url('../static/fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-Semibold.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-Semibold.woff') format('woff'),
      url('../static/fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-HeavyItalic.eot');
  src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
      url('../static/fonts/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-HeavyItalic.woff') format('woff'),
      url('../static/fonts/SFProDisplay-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
      url('../static/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-Regular.woff') format('woff'),
      url('../static/fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../static/fonts/SFProDisplay-BoldItalic.eot');
  src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
      url('../static/fonts/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../static/fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
      url('../static/fonts/SFProDisplay-BoldItalic.woff') format('woff'),
      url('../static/fonts/SFProDisplay-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font: 'SF Pro Display';
  --primary: #041836;
  --primary-accent: #3F8CD6;
  --BG: #FFFFFF;
  --BG-accent: #FAFBFF;
  --dark: #041836;
  --medium: #656B75;
  --light: #D8DAE5;
  --neutral-2: #929292;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
  font-family: var(--font);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 90px;
  line-height: 90px;
  font-weight: 860;
  margin: 0;
}

h2 {
  font-weight: 860;
  font-size: 72px;
  line-height: 72px;
}

h4 {
  font-weight: 590;
  font-size: 64px;
  line-height: 70px;
}

h5 {
  font-weight: 590;
  font-size: 56px;
  line-height: 62px;
}

h6 {
  font-weight: 590;
  font-size: 48px;
  line-height: 56px;
}

/* Mobile */
@media (max-width: 700px) {
  h1 {
    font-weight: 860;
    font-size: 48px;
    line-height: 56px;
  }
  h2 {
    font-weight: 860;
    font-size: 36px;
    line-height: 44px;
  }
}


input {
  flex: 1;
  background: #F3F7FF;
  border-radius: 12px;
  padding: 16px 20px;
  font-size: 16px;
  line-height: 27px;
  color: var(--dark);
  opacity: 0.8;
  border: 0;
}

textarea {
  font-family: var(--font);
  flex: 1;
  background: #F3F7FF;
  border-radius: 12px;
  padding: 16px 20px;
  font-size: 16px;
  line-height: 27px;
  color: var(--dark);
  opacity: 0.8;
  border: 0;
  resize: none;
}

input[type=checkbox] {
  width: 24px;
  height: 24px;

  /* Neutral/2 */

  border: 1.5px solid #929292;
  border-radius: 6px;
}