.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: -moz-linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

.padding {
  padding: 146px 80px 0 80px;
}

.techCard {
  background: var(--primary);
  border-radius: 32px;
  padding: 56px 0 68px 48px;
}


.formContainer {
  display: flex;
  gap: 110px;
  margin-bottom: 154px;
}

.form {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputsGroup {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.formTitle {
  margin-bottom: 58px;
}

.cases {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.casesContent {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1080px;
  align-self: center;
}

.casesCard, .leadForm, .huobiBots {
  flex: 0 48%;
  padding: 48px;
  background: #FAFBFF;
  border-radius: 16px;
  display: flex;
  gap: 48px;
  flex-direction: column;
}

.commandContainer {
  position: absolute;
  right: 300px;
  bottom: -70px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(8px);
  width: 70%;
}

.truckContainer {
  position: absolute;
  right: 100px;
  bottom: -70px;
  z-index: 1;
}

.commandArrow {
  position: absolute;
  top: -150px;
  left: 30px;
}

.truckArrow {
  position: absolute;
  top: -120px;
  right: -60px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 80px 0 80px;
  width: 100%;
  margin-bottom: 132px;
}

.rightContent {
  display: flex;
  flex-direction: row;
  gap: 145px;
}

.rowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navButtons {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
}

.footer {
  border-top: 1px solid rgba(145, 145, 145, 0.6);
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

/* Mobile */
@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    gap: 16px;
    padding: 20px;
  }

  .navBar {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 32px 0 32px;
    margin-bottom: 40px;
  }

  .navButtons.header {
    position: fixed;
    top: 0;
    bottom: 0;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 32px 32px 0 32px;
    flex: 1;
    background-color: white;
  }

  .rightContent {
    gap: 8px;
  }


  .casesCard, .leadForm, .huobiBots {
    flex: 1;
  }

  .commandArrow, .truckArrow {
    display: none;
  }

  .commandContainer {
    left: 10px;
  }

  .truckContainer {
    left: 50px;
    bottom: 60px;
  }

  .padding {
    padding: 146px 16px 0 16px;
  }

  .inputsGroup {
    flex-direction: column;
  }

  .techCard {
    padding: 40px 0 40px 14px;
  }

  .formContainer {
    flex-direction: column-reverse;
  }

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

.headerGradient {
  overflow: hidden;
  position: relative;
  background: linear-gradient(114.13deg, rgba(87, 164, 237, 0.2) 1.94%, rgba(255, 255, 255, 0) 100.08%), #FFFFFF;
  height: 972px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 32px 32px;
}

.titleGradient {
  background: linear-gradient(90deg, #3F8CD6 0%, #041836 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.colorBlack {
  color: var(--black);
}

.titleContainer {
  margin-bottom: 48px;
}

.logo {
  color: var(--dark);
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
}

.navButton {
  font-weight: 400;
  line-height: 22px;
  font-size: 14px;
  color: var(--medium);
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 39px;
  align-items: center;
}

.textCenter {
  text-align: center;
}

.companiesSlider {
  margin: 0 -80px;
}

.products {
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
}

.colorDark {
  color: var(--dark)
}

.colorMedium {
  color: var(--medium)
}

.colorWhite {
  color: #FFFFFF;
}

.productsTitles {
  margin-bottom: 72px;
}

.productsCards {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  max-width: 1080px;
  align-self: center;
}

.productsCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  gap: 10px;
  border-radius: 16px;
  flex: 0 0 30%;
  background-color: var(--BG-accent);
}

.productsCardDouble {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  flex: 0 0 60%;
  background-color: var(--BG-accent);
  padding: 28px;
  gap: 18px;
}

.cardImage {
  max-width: 100%;
}

.processes {
  margin-top: 200px;
}

.mb32 {
  margin-bottom: 32px;
}

.processesDescription {
  color: var(--medium);
}

.processesTitle {
  max-width: 640px;
  margin-bottom: 34px;
}

.pointsTableContainer {
  overflow: scroll;
  margin: 0 -80px;
  padding: 0 80px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pointsTableContainer::-webkit-scrollbar {
  display: none;
}

.technologies {
  margin-top: 200px;
  margin-bottom: 190px;
}

.techTitle {
  max-width: 600px;
  margin-bottom: 68px;
}

.techTitleWhite {
  color: var(--BG);
}

.techTitleMedium {
  color: var(--medium);
}

@media only screen and (max-width: 768px) {
  .productsCard,.productsCardDouble {
    flex: 100% !important;
  }
  .adaptiveDN {
    display: none;
  }
}

.techLogo {
  flex: 112px;
  flex-basis: 112px;
  flex-grow: 0;
	flex-shrink: 0;
  background-color: var(--BG);
  height: 112px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.techRow {
  overflow: hidden;
  display: flex;
  gap: 24px;
  flex-direction: row;
}

.techRowFirst {
  margin-left: 18px;
  margin-bottom: 28px;
}

.formContacts {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.contactWithIcon {
  display: flex;
  gap: 32px;
  align-items: center;
}

.contactIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;

  background: #FFFFFF;
  border-radius: 12px;
}

.checkBox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.link {
  color: #3F8CD6;
}

.iconRounded {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background: rgba(63, 140, 214, 0.08);
  border-radius: 44px;
}

.colorNeutral {
  color: var(--neutral-2);
}

.colorBG {
  color: var(--BG);
}

.faq {
  margin-bottom: 180px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faqContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faqTitle {
  width: 106px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  background: var(--primary-accent);
  border-radius: 29px;
}

.leadForm {
  background-color: var(--primary);
  gap: 40px;
}

.leadFormTextGroup {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.huobiBots {
  background-color: #2E2E2E;
}

.color06 {
  color: rgba(255, 255, 255, 0.6);
}

.bottomGradient {
  position: absolute;
  bottom: 0;

  background: -moz-linear-gradient(114.13deg, rgba(255, 255, 255, 0) 1.94%, rgba(158, 202, 243, 0.2) 100.08%), #FFFFFF;
    border-radius: 32px 32px 0px 0px;
  background: -webkit-linear-gradient(114.13deg, rgba(255, 255, 255, 0) 1.94%, rgba(158, 202, 243, 0.2) 100.08%), #FFFFFF;
    border-radius: 32px 32px 0px 0px;
  background: linear-gradient(114.13deg, rgba(255, 255, 255, 0) 1.94%, rgba(158, 202, 243, 0.2) 100.08%), #FFFFFF;
    border-radius: 32px 32px 0px 0px;
    
  height: 1800px;
  left: 0;
  right: 0;
  z-index: -100;
}

.mainContainer {
  position: relative;
}